.App {
  min-height: 75rem;
  height: auto;
  background: rgb(151, 255, 246);
  background: linear-gradient(
    90deg,
    rgba(151, 255, 246, 1) 12%,
    rgba(9, 121, 110, 1) 100%
  );
  text-align: center;
  object-fit: cover;
}
.pizzas-container {
  height: 480px;
  width: 319px;
}
.pizza-poster {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15rem;
}

.pizza {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.pizza-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.pizza-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza-poster-cart {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
}
.cart-content-child {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.signin-container {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.input-container {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.demo {
  font-style: italic;
  margin-top: 20px;
  height: 10rem;
  width: 15rem;
  background-color: inherit;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signin-box {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header {
  padding-right: 18%;
}
