.App {
  min-height: 50rem;
  height: auto;
  background: rgb(221, 174, 238);
  background: radial-gradient(
    circle,
    rgba(221, 174, 238, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
  object-fit: cover;
}
.header {
  /* margin-top: 2rem; */
  padding-top: 1rem;
}
.pizza-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.pizza-poster {
  height: 20rem;
  width: 20rem;
  border-radius: 10px;
}
.signin-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: stretch;
}
