.App {
  min-height: 75rem;
  height: auto;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  text-align: center;
  object-fit: cover;
}
.pizzas-container {
  height: 480px;
  width: 319px;
}
.pizza-poster {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15rem;
}
.pizza {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.pizza-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.pizza-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pizza-poster-cart {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
}
.cart-content-child {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
